body{
    padding:0;
    margin:0;
    
}

pre{
   font-family: Arial,
    Helvetica,
    sans-serif; 
}
header{
    background-color: rgb(215, 230, 230);
    padding-left: 10px;
    padding-top:10px;
}
#main-heading{
    text-align: center;
}

#side-heading{
    text-align: center;
}

form {
    padding-left: 90px;
}

input{
    /* padding-right:80%; */
    margin-right:100px;
    margin-left:10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width:80%;

}

#addMeme{
    /* margin-right:250px; */
    margin-top: 10px;
    margin-left:45%;
    padding-top: 10px;
    padding-bottom:10px;
    margin-bottom:20px;
    padding-left:30px;
    padding-right:30px;

    /* button styling */
    border-radius:25px;
    border:1.5px solid black;
    background-color: rgb(172, 233, 80);
    font-weight: 500;

}


#cards{
    padding-left:50px;
    margin-top: 50px;
}

#cards div{
    margin-left: 30px;
}

#cards div button{
    margin-left:90px;
    margin-bottom: 30px;  
    border-radius: 15px; 

    border:1.5px solid black;
    font-weight: 500;
}